{% extends "domain/base.html" %}

{% block title %}SSL{% endblock %}

{% block content %}
  <div class="container col-sm-7 col-lg-7 text-center mx-auto mt-5 justify-content-center">
    <h3 class="text-primary m-4 font-weight-bolder">Bảng giá SSL</h3>
    <p>Tổng hợp bảng giá SSL của các nhà cung cấp lớn ở Việt Nam và trên thế giới,
      giúp bạn thuê được SSL rẻ nhất, tiết kiệm nhất.</p>
    
      <div class="btn-group">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <button type="button" class="nav-link active btn btn-primary rounded-0 font-weight-bolder" data-toggle="tab" href="#comodo">Comodo SSL</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-primary rounded-0 font-weight-bolder" data-toggle="tab" href="#geotrust">GeoTrust SSL</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-primary rounded-0 font-weight-bolder" data-toggle="tab" href="#symantec">Symantec SSL</a>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-primary rounded-0 font-weight-bolder" data-toggle="tab" href="#thawte">Thawte SSL</a>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-primary rounded-0 font-weight-bolder" data-toggle="tab" href="#globalsign">GlobalSign SSL</a>
          </li>
        </ul>
      </div>
  <div class="col-sm-10 col-lg-9 text-center mx-auto mt-5">
    <div class="container tab-content">
      <div class="table-responsive-lg container tab-pane active" id="comodo">
        <table class="table table-bordered">
          <thead class="text-center">
            <tr style="background-color: #00a3e6;">
              <th></th>
              <th><i class="fas fa-star mr-2" style="color: #e71c24;"></i>Cheapest</th>
              <th><i class="fas fa-star mr-2" style="color: blue;"></i>Second</th>
              <th><i class="fas fa-star mr-2" style="color: #febe0d;"></i>Third</th>
              <th></th>
            </tr style="border-bottom:  #7ca135;">
          </thead>
          <tbody>
            <tr>
              <td class="font-weight-bolder m-3">Positive SSL</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <tr>
              <td class="font-weight-bolder m-3">Positive SSL Multi-domain</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3">Positive SSL Wildcard</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3">Comodo EV SSL</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3">Premium SSL Wildcard</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3">Comodo EV Multi Domain SSL</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive-lg container tab-pane fade" id="geotrust">
        <table class="table table-bordered">
          <thead class="text-center">
            <tr style="background-color: #00a3e6;">
              <th></th>
              <th><i class="fas fa-star mr-2" style="color: #e71c24;"></i>Cheapest</th>
              <th><i class="fas fa-star mr-2" style="color: blue;"></i>Second</th>
              <th><i class="fas fa-star mr-2" style="color: #febe0d;"></i>Third</th>
              <th></th>
            </tr style="border-bottom:  #7ca135;">
          </thead>
          <tbody>
            <tr>
              <td class="font-weight-bolder m-3 text-right">Rapid SSL</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <tr>
              <td class="font-weight-bolder m-3 text-right">Rapid SSL Wildcard</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">Quick SSL Premium</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">QuickSSL Premium Wildcard</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">True BusinessID</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">True BusinessID Wildcard</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">True BusinessID with EV</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">True BusinessID Multi-Domain</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">True BusinessID Multi-Domain EV</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive-lg container tab-pane fade" id="symantec">
        <table class="table table-bordered">
          <thead class="text-center">
            <tr style="background-color: #00a3e6;">
              <th></th>
              <th><i class="fas fa-star mr-2" style="color: #e71c24;"></i>Cheapest</th>
              <th><i class="fas fa-star mr-2" style="color: blue;"></i>Second</th>
              <th><i class="fas fa-star mr-2" style="color: #febe0d;"></i>Third</th>
              <th></th>
            </tr style="border-bottom:  #7ca135;">
          </thead>
          <tbody>
            <tr>
              <td class="font-weight-bolder m-3 text-right">Secure Site</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <tr>
              <td class="font-weight-bolder m-3 text-right">Secure Site with EV</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">Secure Site Wildcard</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">Secure Site Pro</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">Secure Site Pro EV</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive-lg container tab-pane fade" id="thawte">
        <table class="table table-bordered">
          <thead class="text-center">
            <tr style="background-color: #00a3e6;">
              <th></th>
              <th><i class="fas fa-star mr-2" style="color: #e71c24;"></i>Cheapest</th>
              <th><i class="fas fa-star mr-2" style="color: blue;"></i>Second</th>
              <th><i class="fas fa-star mr-2" style="color: #febe0d;"></i>Third</th>
              <th></th>
            </tr style="border-bottom:  #7ca135;">
          </thead>
          <tbody>
            <tr>
              <td class="font-weight-bolder m-3 text-right">SSL123</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <tr>
              <td class="font-weight-bolder m-3 text-right">SSL123 Wildcard</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">SSL WebServer</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">SSL WebServer with EV</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive-lg container tab-pane fade" id="globalsign">
        <table class="table table-bordered">
          <thead class="text-center">
            <tr style="background-color: #00a3e6;">
              <th></th>
              <th><i class="fas fa-star mr-2" style="color: #e71c24;"></i>Cheapest</th>
              <th><i class="fas fa-star mr-2" style="color: blue;"></i>Second</th>
              <th><i class="fas fa-star mr-2" style="color: #febe0d;"></i>Third</th>
              <th></th>
            </tr style="border-bottom:  #7ca135;">
          </thead>
          <tbody>
            <tr>
              <td class="font-weight-bolder m-3 text-right">Alpha SSL (AV)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <tr>
              <td class="font-weight-bolder m-3 text-right">Domain SSL (DV)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">Organization SSL (OV)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="font-weight-bolder m-3 text-right">Extended Validation SSL (EV)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container col-md-8 text-center">
    <pre style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;" class="m-1 font-italic">
      ***Giá đã bao gồm VAT hoặc phí ICANN nếu có.
      Nhấn vào biểu tượng <i class="fas fa-link m-1 text-primary"></i> để xem thông tin chi tiết.
    </pre>
    <p class="mb-3"><b>Sử dụng ô Tìm kiếm</b> để xem thêm.</p>
  </div>
{% endblock %}